ServicioContacto/WebContent/wsdl/ServicioContacto.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://serviciocontacto" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://serviciocontacto" xmlns:intf="http://serviciocontacto" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://serviciocontacto" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="eliminarContacto">
    <complexType>
     <sequence>
      <element name="rutContacto" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="eliminarContactoResponse">
    <complexType>
     <sequence>
      <element name="eliminarContactoReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="editarContacto">
    <complexType>
     <sequence>
      <element name="nombre" type="xsd:string"/>
      <element name="apellido" type="xsd:string"/>
      <element name="mail" type="xsd:string"/>
      <element name="telefono" type="xsd:string"/>
      <element name="rut" type="xsd:string"/>
      <element name="direccion" type="xsd:string"/>
      <element name="sexo" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="editarContactoResponse">
    <complexType>
     <sequence>
      <element name="editarContactoReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="agregarContacto">
    <complexType>
     <sequence>
      <element name="nombre" type="xsd:string"/>
      <element name="apellido" type="xsd:string"/>
      <element name="mail" type="xsd:string"/>
      <element name="telefono" type="xsd:string"/>
      <element name="rut" type="xsd:string"/>
      <element name="direccion" type="xsd:string"/>
      <element name="sexo" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="agregarContactoResponse">
    <complexType>
     <sequence>
      <element name="agregarContactoReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="agregarContactoRequest">

      <wsdl:part element="impl:agregarContacto" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="eliminarContactoResponse">

      <wsdl:part element="impl:eliminarContactoResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="agregarContactoResponse">

      <wsdl:part element="impl:agregarContactoResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="editarContactoRequest">

      <wsdl:part element="impl:editarContacto" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="editarContactoResponse">

      <wsdl:part element="impl:editarContactoResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="eliminarContactoRequest">

      <wsdl:part element="impl:eliminarContacto" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="ServicioContacto">

      <wsdl:operation name="eliminarContacto">

         <wsdl:input message="impl:eliminarContactoRequest" name="eliminarContactoRequest">

       </wsdl:input>

         <wsdl:output message="impl:eliminarContactoResponse" name="eliminarContactoResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="editarContacto">

         <wsdl:input message="impl:editarContactoRequest" name="editarContactoRequest">

       </wsdl:input>

         <wsdl:output message="impl:editarContactoResponse" name="editarContactoResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="agregarContacto">

         <wsdl:input message="impl:agregarContactoRequest" name="agregarContactoRequest">

       </wsdl:input>

         <wsdl:output message="impl:agregarContactoResponse" name="agregarContactoResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ServicioContactoSoapBinding" type="impl:ServicioContacto">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="eliminarContacto">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="eliminarContactoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="eliminarContactoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="editarContacto">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="editarContactoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="editarContactoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="agregarContacto">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="agregarContactoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="agregarContactoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ServicioContactoService">

      <wsdl:port binding="impl:ServicioContactoSoapBinding" name="ServicioContacto">

         <wsdlsoap:address location="http://localhost:8080/ServicioContacto/services/ServicioContacto"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
