UpdateServicioSumaFactorial/WebContent/wsdl/ServicioSumaFactorial.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://serviciosumafactorial" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://serviciosumafactorial" xmlns:intf="http://serviciosumafactorial" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://serviciosumafactorial" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="sumar">
    <complexType>
     <sequence>
      <element name="a" type="xsd:int"/>
      <element name="b" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="sumarResponse">
    <complexType>
     <sequence>
      <element name="sumarReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="factorial">
    <complexType>
     <sequence>
      <element name="a" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="factorialResponse">
    <complexType>
     <sequence>
      <element name="factorialReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="sumarResponse">

      <wsdl:part element="impl:sumarResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sumarRequest">

      <wsdl:part element="impl:sumar" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="factorialRequest">

      <wsdl:part element="impl:factorial" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="factorialResponse">

      <wsdl:part element="impl:factorialResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="ServicioSumaFactorial">

      <wsdl:operation name="sumar">

         <wsdl:input message="impl:sumarRequest" name="sumarRequest">

       </wsdl:input>

         <wsdl:output message="impl:sumarResponse" name="sumarResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="factorial">

         <wsdl:input message="impl:factorialRequest" name="factorialRequest">

       </wsdl:input>

         <wsdl:output message="impl:factorialResponse" name="factorialResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ServicioSumaFactorialSoapBinding" type="impl:ServicioSumaFactorial">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="sumar">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sumarRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="sumarResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="factorial">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="factorialRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="factorialResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ServicioSumaFactorialService">

      <wsdl:port binding="impl:ServicioSumaFactorialSoapBinding" name="ServicioSumaFactorial">

         <wsdlsoap:address location="http://localhost:8080/UpdateServicioSumaFactorial/services/ServicioSumaFactorial"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
